<form [formGroup]="formGroup" (ngSubmit)="onSubmitted()">
  <div mat-dialog-title i18n="changePassword">Change password</div>
  <mat-dialog-content class="mat-typography">
    <div class="column">
      <mat-form-field appearance="fill">
        <mat-label i18n="password">Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          required
          data-test="password"
          autocomplete="kata sandi" />

        <button
          matIconButton
          matSuffix
          appTogglePassword
          type="button"
          [attr.aria-label]="'Toggle password visibility'">
          <mat-icon></mat-icon>
        </button>

        <mat-error>
          <app-form-error-required name="password"></app-form-error-required>
          @if (!password.hasError("required")) {
            <app-form-error-password name="password"></app-form-error-password>
          }
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label i18n="confirmPassword">Confirm Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="confirmPassword"
          required
          data-test="confirm-password"
          autocomplete="confirm-password" />

        <button
          matIconButton
          matSuffix
          appTogglePassword
          type="button"
          [attr.aria-label]="'Toggle password visibility'">
          <mat-icon></mat-icon>
        </button>

        <mat-error>
          @if (
            confirmPassword.hasError("passwordMismatch") &&
            !confirmPassword.hasError("required")
          ) {
            Password do not match
          }
          <app-form-error-required
            name="confirmPassword"></app-form-error-required>
        </mat-error>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      mat-button
      mat-dialog-close
      data-test="btn-cancel-form"
      i18n="cancel">
      Cancel
    </button>
    <app-loading-button
      data-test="btn-save-form"
      [disabled]="!formGroup.valid"
      [isLoading]="isLoading"
      i18n="save">
      Save
    </app-loading-button>
  </mat-dialog-actions>
</form>
