

.dashboard {
  display: flex;
  flex-direction: column;
}

.dashboard .group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
}

.dashboard .group .item {
  width: 100%;
}

@media (min-width: 959.98px) {
  .dashboard .group {
    flex-direction: row;
  }

  .dashboard .group .item {
    width: 50%;
  }
}


@media (min-width: 1279.98px) {
  .dashboard .group {
    flex-direction: row;
  }

  .dashboard .group .item {
    width: 25%;
  }
}
