<div class="flex flex-col gap-6">
  <div class="flex flex-col gap-6 md:flex-row">
    <div class="flex-1">
      <mat-card>
        <mat-card-content>
          <mat-card-subtitle i18n="totalUsers">Total Users</mat-card-subtitle>
          <div style="font-size: 30px; margin-top: 20px">
            {{ adminDashboard().totalUsers | defaultNumber }}
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="flex-1">
      <mat-card>
        <mat-card-content>
          <mat-card-subtitle i18n="newUsers">New Users</mat-card-subtitle>
          <div style="font-size: 30px; margin-top: 20px">
            {{ adminDashboard().newUsers | defaultNumber }}
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="flex-1">
      <mat-card>
        <mat-card-content>
          <mat-card-subtitle i18n="activeUser">Active User</mat-card-subtitle>
          <div style="font-size: 30px; margin-top: 20px">
            {{ adminDashboard().activeUsers | defaultNumber }}
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="flex flex-col gap-6 lg:flex-row">
    <div class="flex-[0.97]">
      <mat-card>
        <mat-card-content>
          <mat-card-subtitle i18n="userRoles" class="min-h-[32px]">
            User Roles
          </mat-card-subtitle>
          <app-user-roles [data]="adminDashboard().userRoles"></app-user-roles>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="flex-2">
      <mat-card>
        <mat-card-content>
          <mat-card-subtitle i18n="userTrends" class="min-h-[32px]">
            User Trends
          </mat-card-subtitle>
          <app-user-trends
            [activeUserTrends]="adminDashboard().activeUserTrends"
            [newUserTrends]="adminDashboard().newUserTrends"></app-user-trends>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="flex flex-col gap-6 md:flex-row">
    <div class="flex-1">
      <mat-card>
        <mat-card-content>
          <mat-card-subtitle>
            <div class="flex flex-row justify-between">
              <span i18n="userActivities">User Activities</span>
              <div
                i18n="hourly"
                class="daily-toggle flex flex-row items-center gap-2">
                Hourly
                <mat-slide-toggle #dailyTogle>Daily</mat-slide-toggle>
              </div>
            </div>
          </mat-card-subtitle>
          <app-user-activity-in-hour
            [showDaily]="dailyTogle.checked"
            [dailyUserActivities]="adminDashboard().dailyUserActivities"
            [hourlyUserActivities]="
              adminDashboard().hourlyUserActivities
            "></app-user-activity-in-hour>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
