<div class="flex flex-col gap-6">
  <div class="flex flex-col md:flex-row gap-6">
    <div class="flex-1">
      @if (totalUser$ | async | defaultNumber; as totalUser) {
        <mat-card>
          <mat-card-content>
            <mat-card-subtitle>Total User</mat-card-subtitle>
            <div style="font-size: 30px; margin-top: 20px">
              {{ totalUser }}
            </div>
          </mat-card-content>
        </mat-card>
      } @else {
        <app-skeleton height="92px"></app-skeleton>
      }
    </div>
    <div class="flex-1">
      @if (totalUser$ | async | defaultNumber; as totalUser) {
        <mat-card>
          <mat-card-content>
            <mat-card-subtitle>New User</mat-card-subtitle>
            <div style="font-size: 30px; margin-top: 20px">
              {{ totalUser }}
            </div>
          </mat-card-content>
        </mat-card>
      } @else {
        <app-skeleton height="92px"></app-skeleton>
      }
    </div>

    <div class="flex-1">
      @if (totalUser$ | async | defaultNumber; as totalUser) {
        <mat-card>
          <mat-card-content>
            <mat-card-subtitle>Active User</mat-card-subtitle>
            <div style="font-size: 30px; margin-top: 20px">
              {{ totalUser }}
            </div>
          </mat-card-content>
        </mat-card>
      } @else {
        <app-skeleton height="92px"></app-skeleton>
      }
    </div>
  </div>
  <div class="flex flex-col md:flex-row gap-6">
    <div class="flex-1">
      <mat-card>
        <mat-card-content>
          <mat-card-subtitle>
            <div class="flex flex-row justify-between">
              User Activities
              <div class="flex flex-row gap-2 items-center daily-toggle">
                Hourly
                <mat-slide-toggle #dailyTogle>Daily</mat-slide-toggle>
              </div>
            </div>
          </mat-card-subtitle>
          <app-user-activity-in-hour
            [showDaily]="dailyTogle.checked"></app-user-activity-in-hour>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="flex-1">
      <mat-card>
        <mat-card-content>
          <mat-card-subtitle class="min-h-[32px]">
            User Trends
          </mat-card-subtitle>
          <app-user-trends></app-user-trends>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
