<div class="flex h-full w-full flex-col place-content-center items-center">
  <div class="flex w-full justify-end p-4">
    <app-localization-menu></app-localization-menu>
  </div>
  <div class="gap-lg flex flex-1 flex-col place-content-center items-center">
    <h1 i18n="checkYourEmail" class="text-display-small">Check Your Email</h1>
    <p
      i18n="passwordResetLinkSent@@passwordResetLinkSent"
      class="text-body-large"
      style="font: var(--mat-sys-body-large)">
      We've sent a password reset link to your email address. Please check
      your inbox and follow the instructions to reset your password.
    </p>
    <a
      i18n="backToLogin@@backToLogin"
      class="text-label-large"
      style="font: var(--mat-sys-label-large); color: var(--mat-sys-primary)"
      routerLink="/login">
      Back to Login
    </a>
  </div>
  <div class="mb-6 text-center" style="font: var(--mat-sys-body-small)">
    Copyright © 2026 All Rights Reserved. Isjhar Kautsar |
    {{ "isjhar@gmail.com" }}
  </div>
</div>
