<div class="align-wide flex flex-col gap-2">
  @if (role) {
    <div class="flex flex-row items-center justify-between">
      <div class="text-title-large">{{ role.name }}</div>

      @if (role.isEditable) {
        <div class="gap-sm flex items-center">
          <form [formGroup]="formGroup" (ngSubmit)="save()">
            <app-loading-button
              [isLoading]="isLoading"
              i18n="login"
              width="100%"
              [disabled]="!hasChanges"
              icon="save">
              Save
            </app-loading-button>
          </form>
          <button
            *appHasAccessControl="AccessControlId.DeleteRole"
            matIconButton
            aria-label="Icon button with a delete icon"
            i18n-aria-label="deleteIconAriaLabel"
            data-test="btn-delete"
            (click)="onDeleteClicked()">
            <mat-icon fontSet="material-symbols-outlined">delete</mat-icon>
          </button>
        </div>
      }
    </div>

    <mat-divider></mat-divider>
    <div class="text-title-medium" i18n="accessControls">Access Controls</div>

    @if (isLoadingAccessControls) {
      <div class="flex justify-center py-8">
        <mat-spinner diameter="40"></mat-spinner>
      </div>
    } @else {
      <mat-tree
        #tree
        [childrenAccessor]="childrenAccessorFn"
        [dataSource]="treeDataSource"
        class="access-control-tree">
        <mat-nested-tree-node
          *matTreeNodeDef="let node; when: hasChildren"
          [cdkTreeNodeTypeaheadLabel]="node.name">
          <div class="tree-parent-node">
            <button matIconButton matTreeNodeToggle>
              <mat-icon class="mat-icon-rtl-mirror">
                {{ tree.isExpanded(node) ? "expand_more" : "chevron_right" }}
              </mat-icon>
            </button>
            <mat-checkbox
              [disabled]="!role.isEditable"
              [checked]="isAllChecked(node)"
              [indeterminate]="isIndeterminate(node)"
              (change)="toggleAll(node, $event.checked)">
              {{ node.name }}
            </mat-checkbox>
          </div>

          <div
            [class.example-tree-invisible]="!tree.isExpanded(node)"
            role="group">
            <ng-container matTreeNodeOutlet></ng-container>
          </div>
        </mat-nested-tree-node>

        <mat-nested-tree-node *matTreeNodeDef="let node">
          <div class="tree-child-node">
            <mat-checkbox
              [disabled]="!role.isEditable"
              [checked]="node.checked ?? false"
              (change)="toggleAccessControl(node, $event.checked)"
              class="access-control-checkbox">
              <div class="access-control-content">
                <span class="access-control-name">{{ node.name }}</span>
                @if (node.description) {
                  <span class="access-control-description">
                    {{ node.description }}
                  </span>
                }
              </div>
            </mat-checkbox>
          </div>
        </mat-nested-tree-node>
      </mat-tree>
    }
  }
</div>
