@if (searchable) {
  <app-search-field [placeholder]="searchPlaceholder"></app-search-field>
}
<app-default-table
  [ngStyle]="{ display: isLoaded ? 'block' : 'none' }"
  [dataSource]="dataSource"
  [length]="length"
  [columns]="columns"
  (page)="onPageChanged($event)"
  (sortChange)="onSortChanged($event)"
  (rowClick)="onRowClicked($event)"
  [trackBy]="trackBy">
  @if (mobileItemView) {
    <ng-template appDefaultTableMobileItemView let-data let-i="index">
      <ng-container
        *ngTemplateOutlet="
          mobileItemView.templateRef;
          context: { $implicit: data, index: i }
        "></ng-container>
    </ng-template>
  }
  @if (actionContainer) {
    <ng-template appDefaultTableActionContainer let-data>
      <ng-container
        *ngTemplateOutlet="
          actionContainer.templateRef;
          context: { $implicit: data }
        "></ng-container>
    </ng-template>
  }
</app-default-table>

<app-skeleton
  height="160px"
  [ngStyle]="{ display: isLoaded ? 'none' : 'block' }"></app-skeleton>
