<div class="flex h-full w-full flex-col place-content-center items-center">
  <div class="flex w-full justify-end p-4">
    <app-localization-menu></app-localization-menu>
  </div>
  <div class="gap-lg flex flex-1 flex-col place-content-center items-center">
    <h1 i18n="resetPassword" class="text-display-small">Reset Password</h1>
    <form
      class="gap-xs flex w-full max-w-[500px] flex-col place-content-center"
      [formGroup]="resetPasswordForm"
      (ngSubmit)="onResetPasswordSubmitted()">
      <mat-form-field appearance="fill">
        <mat-label i18n="newPassword">New Password</mat-label>
        <input
          matInput
          type="password"
          name="password"
          id="password"
          formControlName="password"
          autocomplete="new-password"
          data-test="password" />

        <button
          matIconButton
          matSuffix
          appTogglePassword
          type="button"
          [attr.aria-label]="'Toggle password visibility'">
          <mat-icon></mat-icon>
        </button>

        <mat-error>
          <app-form-error-required name="password"></app-form-error-required>
          @if (!password.hasError("required")) {
            <app-form-error-password name="password"></app-form-error-password>
          }
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label i18n="confirmNewPassword">Confirm New Password</mat-label>
        <input
          matInput
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          formControlName="confirmPassword"
          autocomplete="new-password"
          data-test="confirm-password" />

        <button
          matIconButton
          matSuffix
          appTogglePassword
          type="button"
          [attr.aria-label]="'Toggle password visibility'">
          <mat-icon></mat-icon>
        </button>

        <mat-error>
          @if (
            confirmPassword.hasError("passwordMismatch") &&
            !confirmPassword.hasError("required")
          ) {
            <span i18n="passwordsDoNotMatch">Passwords do not match</span>
          }
          <app-form-error-required
            name="confirmPassword"></app-form-error-required>
        </mat-error>
      </mat-form-field>

      <app-loading-button
        [isLoading]="isLoading"
        i18n="resetPassword@@resetPassword"
        width="100%"
        [disabled]="!resetPasswordForm.valid"
        icon="lock_reset">
        Reset Password
      </app-loading-button>
    </form>
  </div>
  <div class="mb-6 text-center" style="font: var(--mat-sys-body-small)">
    Copyright © 2026 All Rights Reserved. Isjhar Kautsar |
    {{ "isjhar@gmail.com" }}
  </div>
</div>
