<div style="margin-bottom: 10px">
  <button
    matButton="filled"
    data-test="btn-add-list"
    (click)="onTambahClicked()"
    i18n="add">
    Add
  </button>
</div>
<app-server-side-table
  #table
  [searchable]="true"
  [displayMode]="displayMode.Hybrid">
  <ng-template appDefaultTableMobileItemView let-data>
    <mat-card>
      <mat-card-content>
        <div class="flex flex-col gap-2">
          <div class="flex flex-col">
            <div>{{ data.name }}</div>
            <div>Email : {{ data.email }}</div>
            <div>Role : {{ data.role_names }}</div>
          </div>
          @if (data.id != 1) {
            <div class="flex flex-row justify-end">
              <button matButton (click)="onDeleteClicked($event, data)">
                Delete
              </button>
            </div>
          }
        </div>
      </mat-card-content>
    </mat-card>
  </ng-template>
  <ng-template appDefaultTableActionContainer let-data>
    <div class="mt-[6px]">
      <ng-container
        *ngTemplateOutlet="
          actionTemplate;
          context: {
            element: data,
          }
        "></ng-container>
    </div>
  </ng-template>
</app-server-side-table>

<ng-template #actionTemplate let-element="element">
  @if (element.id != 1) {
    <button
      matIconButton
      aria-label="Example icon button with a delete icon"
      data-test="btn-delete"
      (click)="onDeleteClicked($event, element)">
      <mat-icon fontSet="material-symbols-outlined">delete</mat-icon>
    </button>
  }
</ng-template>
