<div style="margin-bottom: 10px" *appHasAccessControl="AccessControlId.AddUser">
  <button
    matButton="filled"
    data-test="btn-add-list"
    (click)="onTambahClicked()"
    i18n="add">
    Add
  </button>
</div>
<app-server-side-table
  #table
  [searchable]="true"
  [displayMode]="displayMode.Hybrid">
  <ng-template appDefaultTableMobileItemView let-data>
    <mat-card>
      <mat-card-content>
        <div class="flex flex-col gap-2">
          <div class="flex flex-row items-center justify-between">
            {{ data.name }}
            @if (data.isEditable) {
              <ng-container
                *ngTemplateOutlet="
                  actionTemplate;
                  context: {
                    element: data,
                  }
                "></ng-container>
            }
          </div>
          <mat-divider></mat-divider>
          <div class="text-body-medium">
            <div>Email : {{ data.email }}</div>
            <div>Role : {{ data.roleNames }}</div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-template>
  <ng-template appDefaultTableActionContainer let-data>
    <div class="mt-[6px]">
      <ng-container
        *ngTemplateOutlet="
          actionTemplate;
          context: {
            element: data,
          }
        "></ng-container>
    </div>
  </ng-template>
</app-server-side-table>

<ng-template #actionTemplate let-element="element">
  @if (element.isEditable) {
    <div class="flex-row gap-2">
      <button
        *appHasAccessControl="AccessControlId.EditUser"
        matIconButton
        aria-label="Example icon button with a delete icon"
        data-test="btn-edit"
        (click)="onEditClicked($event, element)">
        <mat-icon fontSet="material-symbols-outlined">edit</mat-icon>
      </button>
      <button
        *appHasAccessControl="AccessControlId.EditUser"
        matIconButton
        aria-label="Example icon button with a edit icon"
        data-test="btn-edit"
        (click)="onChangePasswordClicked($event, element)">
        <mat-icon fontSet="material-symbols-outlined">lock</mat-icon>
      </button>
      <button
        *appHasAccessControl="AccessControlId.DeleteUser"
        matIconButton
        aria-label="Example icon button with a delete icon"
        data-test="btn-delete"
        (click)="onDeleteClicked($event, element)">
        <mat-icon fontSet="material-symbols-outlined">delete</mat-icon>
      </button>
    </div>
  }
</ng-template>
