.mobile-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-item-container {
  display: flex;
  align-items: flex-start;

  .mobile-item-content {
    flex: 1;
  }

  .mobile-item-action {
    width: 50px;
  }
}
