<div style="margin-bottom: 10px">
  <button
    data-test="btn-add-list"
    mat-raised-button
    color="primary"
    (click)="onTambahClicked()"
    i18n="add">
    Add
  </button>
</div>
<app-server-side-table #table>
  <ng-template appDefaultTableMobileItemView let-data>
    <mat-card>
      <mat-card-content>
        <div class="row">
          <div style="flex: 1">
            <div>{{ data.name }}</div>
            <div>Email : {{ data.email }}</div>
            <div>Role : {{ data.role_names }}</div>
          </div>
          <div class="row main-axis-end" style="width: 50px">
            <ng-container
              *ngTemplateOutlet="
                actionTemplate;
                context: {
                  element: data
                }
              "></ng-container>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</ng-template>
</app-server-side-table>

<ng-template #actionTemplate let-element="element">
  @if (element.id != 1) {
    <button
      mat-icon-button
      color="primary"
      aria-label="Example icon button with a delete icon"
      data-test="btn-delete"
      (click)="onDeleteClicked(element)">
      <mat-icon>delete</mat-icon>
    </button>
  }
</ng-template>
