<div style="margin-bottom: 10px">
  <button
    data-test="btn-add-role-list"
    mat-raised-button
    color="primary"
    (click)="onTambahClicked()"
    i18n="add"
  >
    Add
  </button>
</div>
<app-server-side-table #table> </app-server-side-table>

<ng-template #actionTemplate let-element="element">
  <a
    *ngIf="element.id != 1 && element.id != 2"
    mat-icon-button
    color="primary"
    aria-label="View"
    data-test="btn-detail"
    [routerLink]="'/setting/roles/' + element.id"
  >
    <mat-icon>visibility</mat-icon>
  </a>

  <button
    *ngIf="element.id != 1"
    mat-icon-button
    color="primary"
    aria-label="Delete"
    data-test="btn-delete"
    (click)="onDeleteClicked(element)"
  >
    <mat-icon>delete</mat-icon>
  </button>
</ng-template>
