<div style="margin-bottom: 10px">
  <button
    data-test="btn-add-role-list"
    matButton="filled"
    (click)="onTambahClicked()"
    i18n="add">
    Add
  </button>
</div>

<app-server-side-table
  #table
  (rowClick)="onRowClicked($event.row)"
  [searchable]="true">
  <ng-template appDefaultTableMobileItemView let-data>
    <mat-card class="relative" (click)="onRowClicked(data)">
      <mat-card-content matRipple>
        <div class="row">
          <div style="flex: 1">
            <div>{{ data.name }}</div>
          </div>
          <div class="row main-axis-end" style="width: 100px">
            <ng-container
              *ngTemplateOutlet="
                actionTemplate;
                context: {
                  element: data,
                }
              "></ng-container>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-template>
  <ng-template appDefaultTableActionContainer let-data>
    <div class="mt-[6px]">
      <ng-container
        *ngTemplateOutlet="
          actionTemplate;
          context: {
            element: data,
          }
        "></ng-container>
    </div>
  </ng-template>
</app-server-side-table>

<ng-template #actionTemplate let-element="element">
  @if (element.isEditable) {
    <button
      matIconButton
      aria-label="Icon button with a delete icon"
      data-test="btn-delete"
      (click)="onDeleteClicked($event, element)">
      <mat-icon fontSet="material-symbols-outlined">delete</mat-icon>
    </button>
  }
</ng-template>
