<div class="flex h-full w-full flex-col place-content-center items-center">
  <div class="flex w-full justify-end p-4">
    <app-localization-menu></app-localization-menu>
  </div>
  <div class="gap-lg flex flex-1 flex-col place-content-center items-center">
    <h1 i18n="forgotPassword" class="text-display-small">Forgot Password</h1>
    <form
      class="gap-xs flex w-full max-w-[500px] flex-col place-content-center"
      [formGroup]="forgotPasswordForm"
      (ngSubmit)="onForgotPasswordSubmitted()">
      <mat-form-field appearance="fill">
        <mat-label i18n="email">Email</mat-label>
        <input
          matInput
          type="email"
          name="email"
          id="email"
          formControlName="email"
          autocomplete="email"
          data-test="email"
          required />
        @if (email.invalid && (email.dirty || email.touched)) {
          <mat-error>
            @if (email.hasError("required")) {
              <span i18n="fieldIsRequired">Field is required</span>
            }
            @if (email.hasError("maxlength")) {
              <span i18n="max500Chars">Max 500 characters</span>
            }
          </mat-error>
        }
      </mat-form-field>

      <app-loading-button
        [isLoading]="isLoading"
        i18n="sendResetLink@@sendResetLink"
        width="100%"
        [disabled]="!forgotPasswordForm.valid"
        icon="send">
        Send Password Reset Link
      </app-loading-button>
    </form>
  </div>
  <div class="mb-6 text-center" style="font: var(--mat-sys-body-small)">
    Copyright © 2026 All Rights Reserved. Isjhar Kautsar |
    {{ "isjhar@gmail.com" }}
  </div>
</div>
