<div class="flex h-full w-full flex-col place-content-center items-center">
  <div class="flex w-full justify-end p-4">
    <app-localization-menu></app-localization-menu>
  </div>
  <div class="flex flex-1 flex-col place-content-center items-center">
    <h1 i18n="forgotPassword" class="text-display-small">Forgot Password</h1>
    <form
      class="flex w-[400px] flex-col place-content-center p-6"
      [formGroup]="forgotPasswordForm"
      (ngSubmit)="onForgotPasswordSubmitted()">
      <mat-form-field appearance="fill">
        <mat-label i18n="email">Email</mat-label>
        <input matInput formControlName="email" data-test="email" />
        <mat-error>
          <app-form-error-required name="email"></app-form-error-required>
        </mat-error>
      </mat-form-field>

      <app-loading-button
        [isLoading]="isLoading"
        i18n="sendResetLink"
        width="100%"
        [disabled]="!forgotPasswordForm.valid">
        Send Password Reset Link
      </app-loading-button>
    </form>
  </div>
  <div class="mat-caption mb-6">
    Copyright © 2026 All Rights Reserved. Isjhar Kautsar |
    {{ "isjhar@gmail.com" }}
  </div>
</div>
