<div style="height: 100%" fxLayout="row" fxLayoutAlign="center center">
  <form
    style="width: 400px"
    fxLayout="column"
    fxLayoutGap="20px"
    [formGroup]="loginForm"
    (ngSubmit)="onLoginformSubmitted()"
  >
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput formControlName="email" data-test="email" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
        data-test="password"
      />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" i18n="login">
      Login
    </button>
  </form>
</div>
