<mat-toolbar color="primary">
  <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100%">
    <div class="flex-item">
      <div fxLayout="row" fxLayoutAlign="space-start center">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="sidenav.toggle()"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <label>smirs-web</label>
      </div>
    </div>
    <div class="flex-item">
      <button mat-button color="secondary">
        <mat-icon>account_circle</mat-icon> {{ loggedUser.name }}
      </button>

      <button mat-icon-button color="secondary" [matMenuTriggerFor]="menu">
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>email</mat-icon> {{ loggedUser.email }}
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="onLogoutClicked()">
          <mat-icon>logout</mat-icon>
          <ng-container i18n="logout">Logout</ng-container>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    class="sidenav"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-nav-list>
      <ng-container *ngFor="let menu of menus">
        <ng-container *ngIf="menu.isShow">
          <a *ngIf="!menu.childs" mat-list-item [routerLink]="'/' + menu.url">
            <mat-icon mat-list-icon class="icon">{{ menu.icon }}</mat-icon>
            {{ menu.name }}
          </a>

          <a *ngIf="menu.childs" mat-list-item (click)="toggleMenu(menu.name)">
            <div
              fxLayout="row"
              style="width: 100%"
              fxLayoutAlign="space-between center"
            >
              <div class="flex-item">
                <div fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon mat-list-icon class="icon">{{
                    menu.icon
                  }}</mat-icon>
                  {{ menu.name }}
                </div>
              </div>
              <div class="flex-item">
                <mat-icon mat-list-icon> arrow_drop_down </mat-icon>
              </div>
            </div>
          </a>
          <ng-container>
            <mat-nav-list>
              <ng-container *ngFor="let child of menu.childs">
                <a
                  @openClose
                  *ngIf="expandedMenu == menu.name"
                  mat-list-item
                  [routerLink]="'/' + menu.url + '/' + child.url"
                >
                  <span class="child-label">
                    {{ child.name }}
                  </span>
                </a>
              </ng-container>
            </mat-nav-list>
          </ng-container>
        </ng-container>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <div class="container">
    <app-breadcrumb></app-breadcrumb>
    <div style="margin-top: 20px">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
