<form [formGroup]="formGroup" (ngSubmit)="onSubmitted()">
  <h1 mat-dialog-title>Tambah Pengguna</h1>
  <mat-error data-test="error" *ngIf="error"> {{ error }} </mat-error>
  <mat-dialog-content class="mat-typography">
    <div fxLayout="column">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="email"
          type="email"
          required
          data-test="email"
        />
        <mat-error>
          <app-form-error-email name="email"></app-form-error-email>
        </mat-error>
        <mat-error>
          <app-form-error-required name="email"></app-form-error-required>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Nama</mat-label>
        <input matInput formControlName="name" required data-test="name" />
        <mat-error>
          <app-form-error-required name="name"></app-form-error-required>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Kata Sandi</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          required
          data-test="password"
          autocomplete="kata sandi"
        />
        <mat-error>
          <app-form-error-required name="password"></app-form-error-required>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Konfirmasi Kata Sandi</mat-label>
        <input
          matInput
          type="password"
          formControlName="confirmPassword"
          required
          data-test="confirm-password"
          autocomplete="confirm-password"
        />
        <mat-error *ngIf="confirmPassword.hasError('passwordMismatch')">
          Password tidak sama
        </mat-error>
        <mat-error>
          <app-form-error-required
            name="confirmPassword"
          ></app-form-error-required>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Peranan</mat-label>
        <mat-select formControlName="roles" multiple required data-test="roles">
          <mat-select-trigger>
            <mat-chip-list>
              <mat-chip
                *ngFor="let role of roles.value"
                [selectable]="true"
                [removable]="true"
                (removed)="removeRole(role)"
              >
                {{ role.name }}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
            </mat-chip-list>
          </mat-select-trigger>
          <mat-option
            *ngFor="let roleOption of roleOptions"
            [value]="roleOption"
            >{{ roleOption.name }}</mat-option
          >
        </mat-select>
        <mat-error>
          <app-form-error-required name="roles"></app-form-error-required>
        </mat-error>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Batal</button>
    <app-loading-button
      data-test="btn-add-form"
      [disabled]="!formGroup.valid"
      [isLoading]="isLoading"
    >
      Tambah
    </app-loading-button>
  </mat-dialog-actions>
</form>
