<div class="flex h-full w-full flex-col place-content-center items-center">
  <div class="flex flex-1 flex-col place-content-center items-center">
    <h1 class="text-display-small">Welcome to App</h1>
    <form
      class="flex w-[400px] flex-col place-content-center p-6"
      [formGroup]="loginForm"
      (ngSubmit)="onLoginformSubmitted()">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" data-test="email" />
        <mat-error>
          <app-form-error-required name="email"></app-form-error-required>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label i18n="password">Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          autocomplete="off"
          data-test="password" />

        <button
          matIconButton
          matSuffix
          appTogglePassword
          type="button"
          [attr.aria-label]="'Toggle password visibility'">
          <mat-icon></mat-icon>
        </button>

        <mat-error>
          <app-form-error-required name="password"></app-form-error-required>
        </mat-error>
      </mat-form-field>

      <app-loading-button
        [isLoading]="isLoading"
        i18n="login"
        width="100%"
        [disabled]="!loginForm.valid">
        Login
      </app-loading-button>

      <button class="mt-4" type="button" matButton (click)="loginDemoClicked()">
        Try Login with Demo Account
      </button>
    </form>
  </div>
  <div class="mat-caption mb-6">
    © 2021 Isjhar Kautsar | {{ "isjhar@gmail.com" }}
  </div>
</div>
