<div class="app-login">
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onLoginformSubmitted()"
    style="padding: 20px"
  >
    <mat-error data-test="error" *ngIf="error"> {{ error }} </mat-error>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" data-test="email" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label i18n="password">Password</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
        data-test="password"
      />
    </mat-form-field>

    <app-loading-button [isLoading]="isLoading" i18n="login" width="100%">
      Login
    </app-loading-button>
  </form>
</div>
