<div class="mat-elevation-z8">
  <div
    [ngClass]="{ 'flex-col': isCardView, 'flex-row gap-2': isTableView }"
    class="flex">
    @if (searchable) {
      <form [formGroup]="searchForm" class="flex-1">
        <mat-form-field class="w-full">
          <mat-label i18n="search">Search</mat-label>
          <input matInput formControlName="search" [placeholder]="'Test'" />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </form>
    }
    @if (isCardView) {
      <div class="flex flex-1 flex-row gap-2">
        <mat-form-field class="flex-1">
          <mat-label>Sort By</mat-label>
          <mat-select
            [value]="sort"
            (selectionChange)="changeSort($event.value)">
            <mat-option [value]="">---None---</mat-option>
            @for (column of columns; track column) {
              @if (column.sortBy) {
                <mat-option [value]="column.sortBy">
                  {{ column.title }}
                </mat-option>
              }
            }
          </mat-select>
        </mat-form-field>
        <button
          matMiniFab
          aria-label="Order by"
          (click)="toggleOrder()"
          class="mt-2">
          <mat-icon
            [ngClass]="{
              'scale-y-100': order == 'desc',
              '-scale-y-100': order == 'asc',
            }">
            sort
          </mat-icon>
        </button>
      </div>
    }
  </div>

  <div [ngStyle]="{ display: isTableView ? 'block' : 'none' }">
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8"
      matSort
      (matSortChange)="onSortChanged($event)">
      <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      @for (column of columns; track column) {
        <ng-container [matColumnDef]="column.prop">
          @if (!column.sortBy) {
            <th
              mat-header-cell
              *matHeaderCellDef
              [ngClass]="{
                'center-cell':
                  column.cellTemplate ||
                  column.cellTemplateByType == 'date' ||
                  column.cellTemplateByType == 'category' ||
                  column.cellTemplateByType == 'number' ||
                  column.cellTemplateByType == 'currency',
              }">
              {{ column.title }}
            </th>
          }
          @if (column.sortBy) {
            <th
              mat-header-cell
              *matHeaderCellDef
              [mat-sort-header]="column.sortBy"
              [ngClass]="{
                'center-cell':
                  column.cellTemplate ||
                  column.cellTemplateByType == 'date' ||
                  column.cellTemplateByType == 'dateTime' ||
                  column.cellTemplateByType == 'category' ||
                  column.cellTemplateByType == 'number' ||
                  column.cellTemplateByType == 'currency',
              }">
              {{ column.title }}
            </th>
          }
          <ng-container *matCellDef="let element">
            @if (!column.cellTemplate && !column.cellTemplateByType) {
              <td mat-cell>
                <ng-container>
                  {{ element[column.prop] }}
                </ng-container>
              </td>
            }
            @if (column.cellTemplate) {
              <td mat-cell class="category-cell">
                <ng-container
                  *ngTemplateOutlet="
                    column.cellTemplate;
                    context: { element: element }
                  "></ng-container>
              </td>
            }
            @if (!column.cellTemplate && column.cellTemplateByType == "date") {
              <td mat-cell class="date-cell">
                {{ element[column.prop] | date: "M/d/yyyy" }}
              </td>
            }
            @if (
              !column.cellTemplate && column.cellTemplateByType == "dateTime"
            ) {
              <td mat-cell class="date-cell">
                {{ element[column.prop] | date: "M/d/yyyy HH:mm:ss" }}
              </td>
            }
            @if (
              !column.cellTemplate && column.cellTemplateByType == "category"
            ) {
              <td mat-cell class="category-cell">
                {{ element[column.prop] }}
              </td>
            }
            @if (
              !column.cellTemplate && column.cellTemplateByType == "number"
            ) {
              <td mat-cell class="number-cell">
                {{ element[column.prop] | defaultNumber }}
              </td>
            }
            @if (
              !column.cellTemplate && column.cellTemplateByType == "currency"
            ) {
              <td mat-cell class="number-cell">
                {{ element[column.prop] | defaultCurrency }}
              </td>
            }
          </ng-container>
        </ng-container>
      }
      @if (actionContainer) {
        <ng-container [matColumnDef]="actionColumnName">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <div
              class="absolute top-0 right-0 flex hidden h-full flex-col pr-1 group-hover:block">
              <ng-container
                *ngTemplateOutlet="
                  actionContainer.templateRef;
                  context: { $implicit: row }
                "></ng-container>
            </div>
          </td>
        </ng-container>
      }

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="group item-row relative cursor-pointer hover:shadow-[var(--mat-sys-level5)]"
        (click)="onRowClicked($event, row)"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td
          class="mat-cell"
          [attr.colspan]="displayedColumns.length"
          i18n="noDataFound"></td>
        No data found
      </tr>
    </table>
  </div>
  <div
    class="card-view mb-4"
    [ngStyle]="{ display: isCardView ? 'flex' : 'none' }">
    @for (data of dataSource; track data[trackBy]; let i = $index) {
      <div>
        @if (mobileItemView) {
          <ng-container
            *ngTemplateOutlet="
              mobileItemView.templateRef;
              context: { $implicit: data, index: i }
            "></ng-container>
        }
      </div>
    }
  </div>

  <mat-paginator
    [pageSizeOptions]="pageSizeOptions"
    [length]="length"
    (page)="onPageChanged($event)"
    showFirstLastButtons
    aria-label="Select page of periodic elements"></mat-paginator>
</div>
