<div class="mat-elevation-z8">
  <div [ngStyle]="{ display: isTableView ? 'block' : 'none' }">
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8"
      matSort
      (matSortChange)="onSortChanged($event)">
      <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      @for (column of columns; track column) {
        <ng-container [matColumnDef]="column.prop">
          @if (!column.sortBy) {
            <th
              mat-header-cell
              *matHeaderCellDef
            [ngClass]="{
              'center-cell':
                column.cellTemplate ||
                column.cellTemplateByType == 'date' ||
                column.cellTemplateByType == 'category' ||
                column.cellTemplateByType == 'number' ||
                column.cellTemplateByType == 'currency'
            }">
              {{ column.title }}
            </th>
          }
          @if (column.sortBy) {
            <th
              mat-header-cell
              *matHeaderCellDef
              [mat-sort-header]="column.sortBy"
            [ngClass]="{
              'center-cell':
                column.cellTemplate ||
                column.cellTemplateByType == 'date' ||
                column.cellTemplateByType == 'dateTime' ||
                column.cellTemplateByType == 'category' ||
                column.cellTemplateByType == 'number' ||
                column.cellTemplateByType == 'currency'
            }">
              {{ column.title }}
            </th>
          }
          <ng-container *matCellDef="let element">
            @if (!column.cellTemplate && !column.cellTemplateByType) {
              <td
                mat-cell
                >
                <ng-container>
                  {{ element[column.prop] }}
                </ng-container>
              </td>
            }
            @if (column.cellTemplate) {
              <td mat-cell class="category-cell">
                <ng-container
              *ngTemplateOutlet="
                column.cellTemplate;
                context: { element: element }
              "></ng-container>
              </td>
            }
            @if (!column.cellTemplate && column.cellTemplateByType == 'date') {
              <td
                mat-cell
                class="date-cell">
                {{ element[column.prop] | date : "M/d/yyyy" }}
              </td>
            }
            @if (
              !column.cellTemplate && column.cellTemplateByType == 'dateTime'
              ) {
              <td
                mat-cell
                class="date-cell">
                {{ element[column.prop] | date : "M/d/yyyy HH:mm:ss" }}
              </td>
            }
            @if (
              !column.cellTemplate && column.cellTemplateByType == 'category'
              ) {
              <td
                mat-cell
                class="category-cell">
                {{ element[column.prop] }}
              </td>
            }
            @if (
              !column.cellTemplate && column.cellTemplateByType == 'number'
              ) {
              <td
                mat-cell
                class="number-cell">
                {{ element[column.prop] | defaultNumber }}
              </td>
            }
            @if (
              !column.cellTemplate && column.cellTemplateByType == 'currency'
              ) {
              <td
                mat-cell
                class="number-cell">
                {{ element[column.prop] | defaultCurrency }}
              </td>
            }
          </ng-container>
        </ng-container>
      }

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td
          class="mat-cell"
          [attr.colspan]="displayedColumns.length"
          i18n="noDataFound">
          No data found
        </td>
      </tr>
    </table>
  </div>

  <div class="card-view" [ngStyle]="{ display: isTableView ? 'none' : 'flex' }">
    @for (data of dataSource; track data; let i = $index) {
      <div>
        @if (mobileItemView) {
          <ng-container
          *ngTemplateOutlet="
            mobileItemView.templateRef;
            context: { $implicit: data, index: i }
          "></ng-container>
        }
      </div>
    }
  </div>

  <mat-paginator
    [pageSizeOptions]="pageSizeOptions"
    [length]="length"
    (page)="onPageChanged($event)"
    showFirstLastButtons
  aria-label="Select page of periodic elements"></mat-paginator>
</div>
