@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  // Get the color config from the theme.
  $color-config: mat.m2-get-color-config($theme);

  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, 'primary');
  $accent-palette: map.get($color-config, 'accent');

  app-breadcrumb a {
    color: mat.m2-get-contrast-color-from-palette($accent-palette, 500);
  }
  .breadcrumb {

    &:last-child {
      & span::before,
      & span::after {
        background-color: mat.m2-get-color-from-palette($primary-palette, 500);
      }
    }


    & span::before, & span::after {
      background-color: mat.m2-get-color-from-palette($accent-palette, 500);
    }

    & span::before {
      border-right: 2px solid mat.m2-get-contrast-color-from-palette($accent-palette, 500);;
      border-left: 2px solid mat.m2-get-contrast-color-from-palette($accent-palette, 500);;
    }

    & span::after {
      border-right: 2px solid mat.m2-get-contrast-color-from-palette($accent-palette, 500);;
      border-left: 2px solid mat.m2-get-contrast-color-from-palette($accent-palette, 500);;
    }

    &:first-child {
      background-color: mat.m2-get-color-from-palette($accent-palette, 500);
    }

    &:first-child:last-child {
      background-color: mat.m2-get-color-from-palette($primary-palette, 500);
    }
  }
}


@mixin theme($theme) {
  $color-config: mat.m2-get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }
}
