.breadcrumb-container {
  background: var(--mat-sys-surface-container);
  border-radius: 10px;
}
.breadcrumb {
  color: var(--mat-sys-on-surface);

  &:last-child {
    color: var(--mat-sys-on-primary-container);
  }
}
