<ng-container *ngFor="let menu of menus">
  <ng-container *ngIf="paths.length > 1 && menu.url == paths[1]">
    <a [routerLink]="'/' + menu.url">{{ menu.name }}</a>
    <ng-container
      *ngTemplateOutlet="
        recursion;
        context: { childs: menu.childs, parentUrl: '/' + menu.url, level: 2 }
      "
    ></ng-container>
  </ng-container>
</ng-container>

<ng-template
  #recursion
  let-childs="childs"
  let-parentUrl="parentUrl"
  let-level="level"
>
  <ng-container *ngFor="let child of childs">
    <ng-container *ngIf="paths.length > level">
      <ng-container *ngIf="child.url == paths[level]">
        /
        <a [routerLink]="'/' + parentUrl + '/' + child.url">
          {{ child.name }}
        </a>
        <ng-container
          *ngTemplateOutlet="
            recursion;
            context: {
              childs: child.childs,
              parentUrl: '/' + parentUrl + '/' + child.url,
              level: level + 1
            }
          "
        >
        </ng-container>
      </ng-container>

      <ng-container
        *ngIf="child.url != paths[level] && child.url.includes(':')"
      >
        /
        <a [routerLink]="'/' + parentUrl + '/' + paths[level]">
          {{ paths[level] }}
        </a>
        <ng-container
          *ngTemplateOutlet="
            recursion;
            context: {
              childs: child.childs,
              parentUrl: '/' + parentUrl + '/' + paths[level],
              level: level + 1
            }
          "
        >
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-template>
