a {
  text-decoration: none;
}

.breadcrumb {
  background: var(--mat-badge-background-color);
  color: var(--mat-badge-text-color);
  padding: 10px 20px 10px 20px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

  &:not(:first-child) {
    margin-left: -8px;
    padding-left: 25px;
  }

  &:not(:first-child):not(:last-child) {
    clip-path: polygon(
      0% 0%,
      calc(100% - 10px) 0%,
      100% 50%,
      calc(100% - 10px) 100%,
      0% 100%,
      calc(0% + 10px) 50%
    );
  }

  &:first-child:not(:last-child) {
    clip-path: polygon(
      0% 0%,
      calc(100% - 10px) 0%,
      100% 50%,
      calc(100% - 10px) 100%,
      0% 100%
    );
  }

  &:last-child:not(:first-child) {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, calc(0% + 10px) 50%);
  }
}
