<div
  class="gap-xs breadcrumb-container p-md flex flex-row flex-wrap items-center">
  @for (
    breadcrumb of displayedBreadcrumbs();
    let i = $index;
    track breadcrumb.id
  ) {
    <a
      class="breadcrumb"
      [ngClass]="{
        last: i === displayedBreadcrumbs().length - 1,
        first: i === 0,
      }"
      [routerLink]="'/' + breadcrumb.fullUrl">
      {{ breadcrumb.label }}
    </a>

    @if (i < displayedBreadcrumbs().length - 1) {
      <mat-icon>chevron_right</mat-icon>
    }
  }
</div>
