<ng-container *ngFor="let breadcrumb of breadcrumbs">
  <ng-container *ngIf="paths.length > 0 && breadcrumb.url == paths[0]">
    <span class="breadcrumb first">
      <a [routerLink]="'/' + breadcrumb.url">{{ breadcrumb.name }}</a>
    </span>

    <ng-container
      *ngTemplateOutlet="
        recursion;
        context: {
          childs: breadcrumb.childs,
          parentUrl: '/' + breadcrumb.url,
          level: 1
        }
      "
    ></ng-container>
  </ng-container>
</ng-container>

<ng-template
  #recursion
  let-childs="childs"
  let-parentUrl="parentUrl"
  let-level="level"
>
  <ng-container *ngFor="let child of childs">
    <ng-container *ngIf="paths.length > level">
      <ng-container *ngIf="child.url == paths[level]">
        <span class="breadcrumb">
          <a [routerLink]="'/' + parentUrl + '/' + child.url">
            {{ child.name }}
          </a></span
        >
        <ng-container
          *ngTemplateOutlet="
            recursion;
            context: {
              childs: child.childs,
              parentUrl: '/' + parentUrl + '/' + child.url,
              level: level + 1
            }
          "
        >
        </ng-container>
      </ng-container>

      <ng-container
        *ngIf="child.url != paths[level] && child.url.includes(':')"
      >
        <span class="breadcrumb">
          <a [routerLink]="'/' + parentUrl + '/' + paths[level]">
            {{ paths[level] }}
          </a></span
        >
        <ng-container
          *ngTemplateOutlet="
            recursion;
            context: {
              childs: child.childs,
              parentUrl: '/' + parentUrl + '/' + paths[level],
              level: level + 1
            }
          "
        >
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-template>
