<mat-toolbar color="primary">
  <div class="navbar">
    <div>
      <div class="navbar-title">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="sidenav.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <div>template-web</div>
      </div>
    </div>
    <div *ngIf="loggedUser" class="row cross-axis-center">
      <button mat-button color="secondary">
        <mat-icon>account_circle</mat-icon>
        {{ loggedUser.name }}
      </button>

      <button mat-icon-button color="secondary" [matMenuTriggerFor]="menu" data-test="btn-profile">
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>email</mat-icon>
          {{ loggedUser.email }}
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="onLogoutClicked()" data-test="btn-logout">
          <mat-icon>logout</mat-icon>
          <ng-container i18n="logout">Logout</ng-container>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    class="sidenav"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <ng-container *ngFor="let menu of menus">
        <ng-container *ngIf="menu.isShow">
          <a *ngIf="!menu.childs" mat-list-item [routerLink]="'/' + menu.url">
            <div class="menu-title">
              <mat-icon mat-list-icon class="icon">
                {{ menu.icon }}
              </mat-icon>
              {{ menu.name }}
            </div>
          </a>

          <a *ngIf="menu.childs" mat-list-item (click)="toggleMenu(menu.name)">
            <div class="expanded-menu-item">
              <div class="menu-title">
                <mat-icon mat-list-icon class="icon">
                  {{ menu.icon }}
                </mat-icon>
                {{ menu.name }}
              </div>
              <mat-icon
                mat-list-icon
                [@openCloseIcon]="expandedMenu == menu.name ? 'open' : 'closed'">
                arrow_right
              </mat-icon>
            </div>
          </a>
          <ng-container>
            <mat-nav-list>
              <ng-container *ngFor="let child of menu.childs">
                <a
                  @openClose
                  *ngIf="expandedMenu == menu.name"
                  mat-list-item
                  [routerLink]="'/' + menu.url + '/' + child.url">
                  <span class="child-label">
                    {{ child.name }}
                  </span>
                </a>
              </ng-container>
            </mat-nav-list>
          </ng-container>
        </ng-container>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <div class="container">
    <app-breadcrumb></app-breadcrumb>
    <div style="margin-top: 20px">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
