<mat-toolbar color="primary">
  <div class="navbar">
    <div>
      <div class="navbar-title gap-2">
        <button
          class="toolbar-button"
          type="button"
          aria-label="Toggle sidenav"
          matIconButton
          (click)="sidenav.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <div class="text-title-medium">Template Web</div>
      </div>
    </div>
    @if (loggedUser) {
      <div class="row cross-axis-center" style="gap: 0.5em">
        <mat-icon>account_circle</mat-icon>
        <span style="font-size: 16px">
          {{ loggedUser.name }}
        </span>
        <button
          matIconButton
          class="toolbar-button"
          [matMenuTriggerFor]="menu"
          data-test="btn-profile">
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <div class="container">
            <div class="flex flex-col items-center gap-4">
              <div
                class="text-on-secondary-container flex flex-row justify-center gap-2">
                <mat-icon>email</mat-icon>
                {{ loggedUser.email }}
              </div>
              <div i18n="helloUser" class="text-title-large">
                Halo, {{ loggedUser.name }}
              </div>
            </div>
            <mat-divider></mat-divider>
            <div class="flex justify-center">
              <button
                matButton
                (click)="onLogoutClicked()"
                data-test="btn-logout">
                <mat-icon>logout</mat-icon>
                <ng-container i18n="logout">Logout</ng-container>
              </button>
            </div>
          </div>
        </mat-menu>
      </div>
    }
  </div>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    class="sidenav"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      @for (menu of menus; track menu) {
        @if (!menu.childs) {
          <a
            mat-list-item
            [routerLink]="'/' + menu.url"
            [ngClass]="{
              selected: menu.url == url || (url == '/' && menu.url == ''),
            }">
            <div class="menu-title">
              <mat-icon
                mat-list-icon
                class="icon"
                fontSet="material-symbols-outlined">
                {{ menu.icon }}
              </mat-icon>
              {{ menu.name }}
            </div>
          </a>
        }
        @if (menu.childs) {
          <a mat-list-item (click)="toggleMenu(menu.name)">
            <div class="expanded-menu-item">
              <div class="menu-title">
                <mat-icon
                  mat-list-icon
                  class="icon"
                  fontSet="material-symbols-outlined">
                  {{ menu.icon }}
                </mat-icon>
                {{ menu.name }}
              </div>
              <mat-icon
                class="arrow-icon"
                [ngClass]="{ open: expandedMenu == menu.name }"
                mat-list-icon>
                arrow_right
              </mat-icon>
            </div>
          </a>
        }
        <ng-container>
          <mat-nav-list class="sub-menu">
            @for (child of menu.childs; track child) {
              <a
                [ngClass]="{
                  open: expandedMenu == menu.name,
                  selected: '/' + menu.url + '/' + child.url == url,
                }"
                mat-list-item
                [routerLink]="'/' + menu.url + '/' + child.url">
                <span class="child-label">
                  {{ child.name }}
                </span>
              </a>
            }
          </mat-nav-list>
        </ng-container>
      }
    </mat-nav-list>
  </mat-sidenav>
  <div class="sidenav-content p-6">
    <app-breadcrumb></app-breadcrumb>
    <div style="margin-top: 20px">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
