@use "@angular/material" as mat;

app-main {
  .sidenav-container {
    height: calc(100% - 64px);

    .mdc-list {
      padding: 0;
    }
  }

  .sidenav {
    background-color: var(--mat-sys-surface-container-high);
    width: 250px;
    border-top-right-radius: 0;
  }

  .sidenav .mat-toolbar {
    background: inherit;
  }

  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .sidenav .icon {
    margin-right: 18px;
  }

  .sidenav .child-label {
    margin-left: 34px;
  }

  .mat-list-base {
    padding-top: 0px;
  }

  .navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }

  .navbar-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .expanded-menu-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }

  .menu-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .mat-icon {
      font-size: 16px;
      width: 16px;
      height: 16px;
    }
  }

  .arrow-icon {
    transform: rotate(0deg);
    transition: all 0.2s;

    &.open {
      transform: rotate(90deg);
      transition: all 0.2s;
    }
  }

  .mat-mdc-nav-list {
    a.mat-mdc-list-item {
      border-radius: 0;
    }
  }

  mat-nav-list {
    a[mat-list-item] {
      &.selected {
        @include mat.list-overrides(
          (
            list-item-container-color: var(--mat-sys-primary-container),
            list-item-label-text-color: var(--mat-sys-on-primary-container),
            list-item-focus-state-layer-color: var(--mat-sys-primary-container),
            list-item-focus-label-text-color: var(
                --mat-sys-on-primary-container
              ),
          )
        );
      }
    }

    &.sub-menu {
      a[mat-list-item] {
        opacity: 0;
        height: 0;
        transition: all 0.1s;

        &.open {
          opacity: 1;
          height: 48px;
          transition: all 0.1s;
        }
      }
    }
  }

  .toolbar-button {
    color: var(--mat-sys-on-primary);
  }
}
