<mat-form-field appearance="fill" class="w-full">
  <mat-label i18n="password">Password</mat-label>
  <input
    matInput
    [type]="type()"
    [formControl]="passwordControl"
    (blur)="onTouched()" />

  <button
    matIconButton
    matSuffix
    type="button"
    (click)="toggle($event)"
    [attr.aria-label]="'Toggle password visibility'">
    <mat-icon>{{ icon() }}</mat-icon>
  </button>
  @if (error) {
    <mat-error>
      <ng-content select="app-input-error"></ng-content>
    </mat-error>
  }
</mat-form-field>
