@if (formControl.hasError("minlength")) {
  <span i18n="tooShort">
    Too short, min
    {{ formControl.errors?.["minlength"].requiredLength }} characters.
  </span>
}
@if (
  !formControl.hasError("minlength") &&
  formControl.hasError("atLeastContainsOneUpperCase")
) {
  <span i18n="containAtLeastOneUppercaseCharacter">
    Should contain at least one uppercase character
  </span>
}
@if (
  !formControl.hasError("minlength") &&
  !formControl.hasError("atLeastContainsOneUpperCase") &&
  formControl.hasError("atLeastContainsOneLowerCase")
) {
  <span i18n="containAtLeastOneLowercaseCharacter">
    Should contain at least one lowercase character
  </span>
}
@if (
  !formControl.hasError("minlength") &&
  !formControl.hasError("atLeastContainsOneUpperCase") &&
  !formControl.hasError("atLeastContainsOneLowerCase") &&
  formControl.hasError("atLeastContainsOneNumber")
) {
  <span i18n="containAtLeastOneNumber">Should contain at least one number</span>
}
