@if (formControl.hasError("minlength")) {
  Too short, min
  {{ formControl.errors?.["minlength"].requiredLength }} characters.
}
@if (
  !formControl.hasError("minlength") &&
  formControl.hasError("atLeastContainsOneUpperCase")
) {
  Should contain at least one uppercase character
}
@if (
  !formControl.hasError("minlength") &&
  !formControl.hasError("atLeastContainsOneUpperCase") &&
  formControl.hasError("atLeastContainsOneLowerCase")
) {
  Should contain at least one lowercase character
}
@if (
  !formControl.hasError("minlength") &&
  !formControl.hasError("atLeastContainsOneUpperCase") &&
  !formControl.hasError("atLeastContainsOneLowerCase") &&
  formControl.hasError("atLeastContainsOneNumber")
) {
  Should contain at least one number character
}
