<div class="container">
  <div style="margin-bottom: 10px">
    <button
      data-test="btn-add-list"
      mat-raised-button
      color="primary"
      (click)="onTambahClicked()"
    >
      Tambah
    </button>
  </div>
  <app-default-table
    [dataSource]="dataSource"
    [length]="length"
    [columns]="columns"
    (page)="onPageChanged($event)"
  >
  </app-default-table>
</div>

<ng-template #actionTemplate let-element="element">
  <button
    *ngIf="element.id != 1"
    mat-icon-button
    color="primary"
    aria-label="Example icon button with a delete icon"
    data-test="btn-delete"
    (click)="onDeleteClicked(element)"
  >
    <mat-icon>delete</mat-icon>
  </button>
</ng-template>
