<div style="margin-bottom: 10px">
  <button
    data-test="btn-add-menu-list"
    mat-raised-button
    color="primary"
    (click)="onAddClicked()"
    i18n="add"
  >
    Add
  </button>
</div>
<app-server-side-table #table> </app-server-side-table>

<ng-template #actionTemplate let-element="element">
  <button
    mat-icon-button
    color="primary"
    aria-label="Delete"
    data-test="btn-delete"
    (click)="onDeleteClicked(element)"
  >
    <mat-icon>delete</mat-icon>
  </button>
</ng-template>
