/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use 'app/pages/shared/breadcrumb/_breadcrumb.component-theme.scss' as breadcrumb;

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 ),
 typography: mat.define-legacy-typography-config(),
 density: 0,
));

@include mat.all-legacy-component-themes($my-theme);
@include breadcrumb.theme($my-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container { padding: 16px;}

.mat-cell.number-cell {
  text-align: right;
  padding-right: 10px;
}

.mat-cell.category-cell {
  text-align: center;
}

.mat-cell.date-cell {
  text-align: center;
}

.mat-header-cell.center-cell {
  text-align: center;
}

.center-cell .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.column.main-axis-center {
  justify-content: center;
}

.column.cross-axis-center {
  align-content: center;

}





