<form [formGroup]="formGroup" (ngSubmit)="onSubmitted()">
  <h1 mat-dialog-title>Konfirmasi</h1>
  <mat-error *ngIf="error" data-test="error"> {{ error }} </mat-error>
  <div mat-dialog-content>
    <p>{{ data.message }}</p>
  </div>
  <div mat-dialog-actions align="end">
    <button
      style="margin-right: 5px"
      mat-button
      mat-dialog-close
      data-test="btn-no"
    >
      Batal
    </button>
    <app-loading-button [isLoading]="isLoading" data-test="btn-yes">
      Ya
    </app-loading-button>
  </div>
</form>
